*{
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Merriweather', serif;
}
p, a{
    font-family: 'Inter', sans-serif;
}
main{
    width: 1320px;
    margin:20px auto ;
}
.container{
    width: 95%;
    margin: 0px auto;
}
img{
    width: 100%;
}
/* Style CSS */

.banner { 
    background:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(./resources/Banner\ Image.png);
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    /* Cursor Pointer just for good looking */
    cursor: pointer;
}

.banner-text{
    padding: 200px 300px;
}
.banner-text h4{
    color: #fff;
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}
.banner-text h1{ 
    color: #fff;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* Discount Section */

.discount{
    margin: 50px auto;
}
.dis-offer{
    color: #F00;
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
}
.dis-title{
    color: #F00;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.dis-cate{
    color: #070211;
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
}
.dis-img{
    text-align: center;
}
.dis-img img{
    width:650px;
}

/* Wishing Section */
.welcome{
    background:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(./resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
}
.wish-text {
    width: 600px;
}
.wishing {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 50px 50px 30px;
}
.wish-text h2 {
    color: #FFF;
    font-size: 55px;
    font-weight: 900;
    line-height: 75px;
    letter-spacing: 5px;
}
.wish-text p{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    line-height: 30px;
    margin:20px 0px;
}
.join a{
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px ;
    border-radius: 5px;
    letter-spacing: 1px;
}
.join a:hover{
    background-color: #F00;
}

/* venue */

.details{
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 50px 0px;
    border-radius: 5px;

    text-align: center;
    padding: 70px 0px;
}
.details p{
    color: #070211;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}
.details span{
    color: #F00;
    font-size: 20px;
    font-weight: 600;
}

.details .join a{
    background-color: #ff0000;
    color: rgb(255, 255, 255);
    display: inline-block;
    margin: 20px 0px;
    border: 1px solid #ff0000;
}
.details .join a:hover{
    background-color: #fff;
    color: #ff0000;
}

/* Best Offer */

/* .bestoffer::after{
    content: "";
    clear: both;
    display: table;
} */
section.bestoffer.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.best-offer-left {
    width: 33%;
    /* float: left;
    width: 416px; */
}
.best-offer-left .heading{
    color: #F00;
    font-size: 17px;
    font-weight: 500;  
}
.best-offer-left h3{
    color: #070211;
    font-size: 40px;
    font-weight: 900;
}
.best-offer-left .text{
    color: rgba(7, 2, 17, 0.60);
    font-size: 15px;
    line-height: 28px;
    width: 300px;
}
.best-offer-img {
    /* float: left;
    width: 416px;
    text-align: center; */
    width: 33%;
    margin: 0px auto;
}
.best-offer-img img {
    width: 250px;
    border: 10px solid red;
    border-radius: 50%;
    padding: 20px;
}
.best-offer-right{
    /* float: left;
    width: 418px; */
}
.best-offer-right .heading{
    color: #F00;
    font-size: 40px;
    font-weight: 700;
}
.best-offer-right .text {
    color: rgba(7, 2, 17, 0.60);
    font-size: 15px;
    line-height: 25px;
    width: 300px;
}
.best-offer-right img{
    width: 150px;
}

/* Holidays Section */
.holidays{
    width: 60%;
    margin: 80px auto;
    text-align: center;
}
.holidays .intro{
    color: #070211;
    font-size: 20px;
    font-weight: 500;
}
.holidays .heading{
    color: #070211;
    font-size: 55px;
    font-weight: 900;
}
.holidays .heading span{
    color: #F00;
    font-size: 55px;
    font-weight: 900;
}
.holidays p.des {
    margin-top: 20px;
}

/* 50% off section start */
.top-two-img {
    display: flex;
    justify-content: space-between;
}
.glitting-img img{
    width: 429px;
    height: 433px;
}
.marketing-img {
    position: relative;
    text-align: right;
}
.marketing-img img {
    width: 300px;
    height: 300px;
}
.percent {
    position: absolute;
    top: 20%;
    right: 17%;
}
.percent img {
    width: 180px;
    height: 180px;
}
.bottom-red {
    position: relative;
}
.glitting-img {
    position: absolute;
    bottom: 30%;
    left: 10%;
}
.glitting-img img {
    width: 429px;
    height: 433px;
}

/* 50% off section end */
.best-gift{
    margin-top: 100px;
}
.best-gift .intro{
    color: #F00;
    font-size: 18px;
    font-weight: 500;
}
.best-gift .heading{
    color: #070211;
    font-size: 38px;
    font-weight: 900;
    padding: 20px 0px;
}
.best-gift .des{
    color: rgba(7, 2, 17, 0.60);
    font-size: 18px;
    line-height: 28px; 
    width: 65%;
}
.best-gift-img {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
    flex-wrap: wrap;
}
.best-gift-img img{
    width: 380px;
}
.gift{
    position: relative;
    margin-bottom: 20px ;
}
.gift::after {
    content: " ";
    height: 0;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 13px;      
}
.gift:hover::after{
    height: 99%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.507);
}
.subscribe{
    text-align: center;
    padding: 100px 0px;
    border-radius: 5px;
    background: rgba(255, 0, 0, 0.05);
}
.subs-text h3{
    color: #070211;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}
.subs-text p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 15px;
    line-height: 32px;
    width: 520px;
    margin: auto;
}
.mail img{
    width: 100px;
    height: 100px;
}
input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 20px 0px 0px 20px;
}
input[type="submit"] {
    background-color: #ff0000;
    border: none;
    color: #fff;
    margin-left: -5px;
    padding: 10px;
    border-radius: 0px 20px 20px 0px;
}
/* Footer */

footer{
    background: #070211;
    padding: 100px 0px;
}
.address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.location, .contact {
    width: 300px;
}
.location p {
    color: #FFF;
    font-size: 15px;
    line-height: 28px;
}
.contact ul{}
.contact ul li{}
.contact ul li a{
    color: #FFF;
    font-size: 15px;
    line-height: 28px;
    text-decoration: none;
}
.contact ul li a img{
    width: 24px;
    height: 24px;
}
.social-menu{
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.social-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-menu ul li{
    list-style-type: none;
}
.social-menu ul li a{
    text-decoration: none;
    padding: 30px 10px;
    display: inline-block;
}
.social-menu ul li a img {
    width: 45px;
    height: 45px;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
}
.footer-bottom p{
    color: #FFF;
    font-size: 15px;
    margin-top: 30px;
}